<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Product</title>
    <th:block th:replace="@{layout/layoutClient} :: link-bootstrap"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-main-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-base-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-font-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-rob-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: script-jquery"></th:block>
    <style>
        .btn-pink {
        background-color: pink;
        color: white;
        }
    </style>
</head>
<body class="app">
<th:block th:replace="@{layout/layoutClient} :: head_top"></th:block>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "106172929230177");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

<!-- Your SDK code -->
<script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v17.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
<div class="app__container">
    <nav aria-label="breadcrumb " class="product" style="margin-top: -80px;">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"><a style="color: #000; text-decoration: none;" th:href="@{/}"><strong>Trang chủ</strong></a></li>
            <li class="breadcrumb-item active"><a style="color: #000; text-decoration: none;" th:href="@{/address/show}" ><strong>Cửa Hàng</strong></a></li>
        </ol>
    </nav>
    <div class="row py-5 g-5 shadow" style="padding: 0px 210px 30px 210px;">
        <!-- image thumb -->
        <div class="col-12 col-lg-6 " style="margin-top: -80px;">
            <img th:src="${product.urlImageThumbnail}" class="m-1 w-100 sliderMainImage large-image" data-bs-toggle="model" data-bs-target="#imageModel"/>
            <ul class="list-group list-group-horizontal ">
                <li class="list-group-item border-0 ">
                    <img th:src="${product.urlImageThumbnail}" th:alt="hinh" width="60px" class="m-1 sliderThumb selected-image"/>
                </li>
                <li class="list-group-item border-0" th:each="image : ${product.imageList}">
                    <img th:src="${image}" th:alt="hinh" width="60px" class="m-1 sliderThumb"/>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-6" style="margin-top: -0px;">
            <h2 id="productName"  th:text="${product.name}"></h2>
            <h4 class="my-4 product_price"><span  id="price" th:text="${product.price}"> </span></h4>
            <button class="like-button" onclick="toggleLike()">🤍 Thích</button>
            <span class="like-count">0</span> Người thích
            <script>
                       const storedLikeCount = localStorage.getItem('likeCount');
            let likeCount = storedLikeCount ? parseInt(storedLikeCount) : 0;
            let isLiked = false;

            function toggleLike() {
              if (isLiked) {
                likeCount--;
              } else {
                likeCount++;
              }

              isLiked = !isLiked;
              updateUI();
              saveLikeCountToLocalStorage();
            }

            function updateUI() {
              const likeButton = document.querySelector('.like-button');
              const likeCountElement = document.querySelector('.like-count');

              likeButton.innerText = isLiked ? '💖 Bỏ thích' : '🤍 Thích';
              likeCountElement.innerText = likeCount;
            }

            function saveLikeCountToLocalStorage() {
              localStorage.setItem('likeCount', likeCount);
            }

            // Cập nhật giao diện ban đầu
            updateUI();
            </script>
            <h4 class="my-4 "><span  id="cate" th:text="${product.productType.name +' - '+ product.category.name}"> </span></h4>
<!--            <td sec:authorize="hasAnyAuthority('ADMIN','USER')">-->
            <div class="d-grid my-4">
                <a th:href="@{/cart/add(id=${product.id},imageList=${product.urlImageThumbnail},name=${product.name},price=${product.price}, quantity=1)}" class="btn btn-lg btn-dark">
                    Thêm vào giỏ hàng
                </a>
            </div>
            <div class="d-grid my-4">
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <!-- Vòng lặp qua danh sách sản phẩm -->
                    <th:block th:each="productItem : ${product}">
                        <!-- Mỗi sản phẩm có một biểu mẫu thanh toán riêng -->
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="sb-ppqtc27424969@personal.example.com">
                        <input type="hidden" name="custom" th:value="${productItem.id}">
                        <input type="hidden" name="item_name" th:value="${productItem.name}">
                        <input type="hidden" name="amount" th:value="${productItem.price}">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="return" value="https://calculating-destruction-production.up.railway.app/product/products/">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    </th:block>
                </form>
            </div>
<!--            </td>-->
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Mô tả</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body text-truncate" th:text="${product.description}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid my-4">
                <a th:href="@{/product/products}" class="btn btn-lg" style="background-color:linear-gradient(to right, #D2B48C, #D2B48C);">
                    Tiếp tục mua sắm
                </a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="@{layout/layoutClient} :: footer"></th:block>
<script src="/js/toVND.js"></script>
</body>
</html>
<style>
    .selected-image {
        border: 2px solid whitesmoke; /* Thay đổi màu sắc và độ dày đường viền tùy ý */
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out; /* Thay đổi màu sắc và độ mờ của hiệu ứng box-shadow tùy ý */
    }
</style>
<script>
    // Lấy phần tử hình ảnh chính
var mainImage = document.querySelector('.sliderMainImage');

// Lấy tất cả các hình ảnh thu nhỏ
var thumbnailImages = document.querySelectorAll('.sliderThumb');

// Lặp qua từng hình ảnh thu nhỏ và thêm một trình lắng nghe sự kiện click
thumbnailImages.forEach(function(thumbnailImage) {
    thumbnailImage.addEventListener('click', function(event) {
        // Ngăn chặn hành động mặc định của liên kết
        event.preventDefault();

        // Xóa lớp CSS 'selected-image' khỏi tất cả các hình ảnh thu nhỏ
        thumbnailImages.forEach(function(image) {
            image.classList.remove('selected-image');
        });

        // Thêm lớp CSS 'selected-image' vào hình ảnh thu nhỏ được chọn
        this.classList.add('selected-image');

        // Đặt giá trị 'src' của hình ảnh chính thành giá trị 'src' của hình ảnh thu nhỏ được chọn
        mainImage.setAttribute('src', this.getAttribute('src'));
    });
});
</script>
