<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      lang="en">
<tr sec:authorize="hasAnyAuthority('ADMIN')">
<head th:replace="@{layout/layoutAdmin} :: header(TocoToco)"></head>
<body class="sb-nav-fixed"  style="background-color: whitesmoke;">
<nav th:replace="@{layout/layoutAdmin} :: header_top"></nav>
<div id="layoutSidenav">
    <div th:replace="@{layout/layoutAdmin} :: menu"></div>
    <div id="layoutSidenav_content">
        <!--main-->
        admin
        <img src="https://png.pngtree.com/png-vector/20190223/ourlarge/pngtree-admin-rolls-glyph-black-icon-png-image_691507.jpg">
        <!--main-->
        <footer th:replace="@{layout/layoutAdmin} :: footer"></footer>
    </div>
</div>
</body>
</tr>
</html>

