<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Tin tức - ToCoToCo</title>
  <!-- Include your CSS and other head elements here -->
  <meta property="og:image" content="https://blog.dktcdn.net/files/nhuong-quyen-tra-sua-4-1.jpg" style=" width=50 ; height=50">
</head>
<body>
<div class="header__nav_bot" style="height: 80px; background: linear-gradient(to right, #FFC0CB, #FFC0CB);">
  <ul class="header__nav_bot-list" style="display: flex; justify-content: center; align-items: center; padding: 0; margin: 0; list-style: none;">
    <li class="header__nav_bot-item" style="margin-right: 20px;">
      <a class="header__nav_bot-link" th:href="@{/}" style="font-weight: bold; color: white; text-decoration: underline;">Trang chủ</a>
    </li>
    <li class="header__nav_bot-item" style="margin-right: 20px;">
      <a class="header__nav_bot-link" th:href="@{/introduction/showintroduction}" style="font-weight: bold; color: white; text-decoration: underline;">Giới thiệu</a>
    </li>
    <li class="header__nav_bot-item header__nav_bot-flex" style="margin-right: 20px;">
      <a class="header__nav_bot-link" th:href="@{/product/products}" style="font-weight: bold; color: white; text-decoration: underline;">Sản phẩm</a>
    </li>
    <li class="header__nav_bot-item header__nav_bot-flex" style="margin-right: 20px;">
      <a class="header__nav_bot-link" th:href="@{/address/show}" style="font-weight: bold; color: white; text-decoration: underline;">Cửa Hàng</a>
    </li>
    <li class="header__nav_bot-item header__nav_bot-flex" style="margin-right: 20px;">
      <a class="header__nav_bot-link" th:href="@{/postshow/post}" style="font-weight: bold; color: white; text-decoration: underline;">Tin tức</a>
    </li>
    <li class="header__nav_bot-item header__nav_bot-flex">
      <a class="header__nav_bot-link" th:href="@{/danhgia/form}" style="font-weight: bold; color: white; text-decoration: underline;">Đánh giá</a>
    </li>
  </ul>
</div>
<div class="category-main">
  <div class="post-title" style="font-weight: bold;">
    Tâm huyết nâng tầm giá trị nông sản Việt của ToCoToCo
  </div>
  <div class="post-date">Ngày đăng: 31/12/2021</div>

  <p>Theo <a href="https://zingnews.vn/tam-huyet-nang-tam-gia-tri-nong-san-viet-cua-tocotoco-post1286807.html">zingnews.vn</a> – Trong 8 năm phát triển, <a href="http://tocotocotea.com">ToCoToCo</a> không ngừng theo đuổi sứ mệnh xây dựng một thương hiệu trà sữa từ nông sản Việt uy tín, chất lượng.</p>

  <p>Chọn cho mình hướng đi riêng với những ly trà sữa đậm vị, thơm ngon từ nông sản Việt, thương hiệu ToCoToCo đã chinh phục được hàng triệu khách hàng. Bằng cả tâm huyết, thương hiệu đã mang trà sữa làm từ nông sản Việt vươn ra thế giới.</p>

  <h2>Đưa nông sản Việt thành nguyên liệu trà sữa</h2>

  <p>Dấu ấn lớn nhất của ToCoToCo là giúp khách hàng thay đổi quan niệm về nguyên liệu làm trà sữa. Thương hiệu này đã sử dụng nguyên liệu từ nông sản Việt, mang đến những ly trà sữa thơm ngon, an toàn cho sức khỏe. Thành lập từ năm 2013, đội ngũ sáng lập luôn tâm huyết mang những ly trà sữa đậm vị từ chính nông sản quê hương đến mọi miền đất nước và quốc tế.</p>

  <p>Trong mỗi món thức uống, ToCoToCo tận dụng vùng nông sản chuyên canh để đem đến hương vị hấp dẫn cho đồ uống. Quy trình kiểm định chất lượng nông sản và sản xuất nguyên liệu trà sữa của hãng đã được ghi lại qua phóng sự trong chuyên mục “Tự hào hàng Việt Nam”, thuộc chương trình “Doanh nghiệp và doanh nhân”, phát sóng trên VTV1.</p>

  <div class="wp-block-image is-style-default" style="text-align: center;">
    <figure class="aligncenter size-large is-resized">
      <img loading="lazy" src="https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-1024x607.jpg" alt="nông sản việt" class="wp-image-217771" width="520" height="307" srcset="https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-1024x607.jpg 1024w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-300x178.jpg 300w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-768x455.jpg 768w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-600x355.jpg 600w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet.jpg 1202w" sizes="(max-width: 520px) 100vw, 520px">
      <figcaption>ToCoToCo sử dụng nông sản Việt để đem đến đồ uống hương vị thơm ngon.</figcaption>
    </figure>
  </div>

  <p>Với mong muốn mang đến những ly trà sữa hương vị quê hương, đội ngũ chuyên gia ToCoToCo nhẫn nại, kiên định tìm kiếm nguồn nguyên liệu trải dài từ những đồi chè Mộc Châu đến nông trường dứa Ninh Bình. Đội ngũ còn đến với những đồi dâu tằm Đà Lạt, hay vào tận vườn trái cây ở nhiều vùng miền để cho ra hương vị thức uống đậm đà, mang chất riêng.</p>

  <p>Ngoài chú trọng tính an toàn, giàu dinh dưỡng và hương vị thơm ngon, ToCoToCo luôn tìm kiếm, ưu tiên lựa chọn nguyên liệu organic, hướng khách hàng đến một lối sống xanh, lành mạnh. Khách hàng không chỉ được thưởng thức đồ uống ngon, nguồn gốc rõ ràng, mà còn hợp xu hướng. Thực đơn đa dạng và không ngừng cải tiến là điểm nhấn giúp hãng có thể chinh phục vị giác của nhiều đối tượng khách hàng.</p>

  <h2>Hiện thực hóa giấc mơ Mỹ</h2>

  <p>8 năm theo đuổi sứ mệnh xây dựng một thương hiệu trà sữa Việt uy tín và chất lượng, ToCoToCo đã đạt nhiều giải thưởng và trở thành thương hiệu trà sữa được yêu thích nhất Việt Nam năm 2020 (do Nielsen Việt Nam thống kê). Trên hết, ToCoToCo hiện thực hóa giấc mơ đưa những ly trà sữa Việt sang Mỹ.</p>

  <p>Hãng hiện có gần 400 cửa hàng trên 43 tỉnh thành khắp Việt Nam và có mặt tại Mỹ, Australia, Nhật Bản, Hàn Quốc… Sự khác biệt giúp ToCoToCo phát triển mạnh tại Việt Nam và vươn ra quốc tế chính là hương vị trà sữa đến từ quy trình sản xuất đạt chuẩn, được kiểm định kỹ càng.</p>

  <div class="wp-block-image is-style-default" style="text-align: center;">
    <figure class="aligncenter size-large is-resized">
      <img loading="lazy" src="https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet.jpeg" alt="nông sản việt" class="wp-image-217772" width="498" height="664" srcset="https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet.jpeg 690w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-225x300.jpeg 225w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-600x800.jpeg 600w" sizes="(max-width: 498px) 100vw, 498px">
      <figcaption>Trà sữa ToCoToCo được yêu thích tại Mỹ.</figcaption>
    </figure>
  </div>

  <p>Với nguyên liệu chính là trà và cà phê từ vùng chuyên canh, ToCoToCo sáng tạo ra thực đơn đồ uống ngon miệng, thích hợp cho nhiều lứa tuổi. Khách hàng có thể tìm thấy những đồ uống như sữa tươi trân châu đường đen, trà sữa panda, trà sữa kim cương đen Okinawa, trà sữa ô long, trân châu sợi… Tất cả đều được biến tấu hương vị phù hợp với khẩu vị người Việt.</p>

  <p>Mới đây, nhân dịp sinh nhật 8 năm, ToCoToCo ra mắt bộ đôi sản phẩm cà phê mới gây tò mò cho khách hàng là Royal pearl milk coffee (cà phê sữa trân châu) và Grass jelly milk coffee (cà phê sữa sương sáo).</p>

  <p>Sự tận tâm của hãng không chỉ đến từ việc chăm chút từng sản phẩm, mà còn nằm ở việc nỗ lực phát triển dịch vụ, trải nghiệm của khách hàng từng ngày. Để hưởng ứng không khí lễ hội, ToCoToCo tiếp tục ra mắt thức uống mới dịp Noel với thông điệp “Vị giòn tan – Giáng sinh rộn ràng”. Đó là hai sản phẩm choco ngũ cốc kem cà phê và hồng trà ngũ cốc kem cà phê. Hai thức uống này hứa hẹn đem lại nhiều trải nghiệm ẩm thực thú vị cho người thưởng thức.</p>

  <div class="wp-block-image is-style-default" style="text-align: center;">
    <figure class="aligncenter size-large is-resized">
      <img loading="lazy" src="https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-3.jpeg" alt="nông sản việt" class="wp-image-217773" width="492" height="327" srcset="https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-3.jpeg 921w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-3-300x200.jpeg 300w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-3-768x511.jpeg 768w, https://tocotocotea.com/wp-content/uploads/2022/01/tocotoco-nong-san-viet-3-600x399.jpeg 600w" sizes="(max-width: 492px) 100vw, 492px">
      <figcaption>Choco ngũ cốc kem cà phê và hồng trà ngũ cốc kem cà phê là thức uống mới, đáng thử tại ToCoToCo.</figcaption>
    </figure>
  </div>
  <hr class="wp-block-separator">
  <p><img draggable="false" role="img" class="emoji" alt="🍃" width="30px" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f343.svg"> ToCoToCo – Đậm vị thiên nhiên – Trọn vị hạnh phúc<br>Hotline: 𝟭𝟵𝟬𝟬 𝟲𝟯 𝟲𝟵 𝟯𝟲<br>Website: <a href="https://shoptopping-89b153dfa8dc.herokuapp.com/">https://tocotocotea.com/</a></p>
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://shoptopping-89b153dfa8dc.herokuapp.com/news/show" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" width="50" height="50">
  </a>
</div>
</body>
<script>
  const storedPointsData = localStorage.getItem('pointsData');
  let pointsData = storedPointsData ? JSON.parse(storedPointsData) : {};

  let loyaltyPoints = pointsData.loyaltyPoints || 0;

  function increasePoints() {
    const visitPoints = 2; // Số điểm tích lũy khi người dùng truy cập vào đường link
    loyaltyPoints += visitPoints;
    savePointsToLocalStorage();
  }

  function savePointsToLocalStorage() {
    const updatedPointsData = {
      loyaltyPoints: loyaltyPoints
    };
    localStorage.setItem('pointsData', JSON.stringify(updatedPointsData));
  }

  // Gọi hàm để tăng điểm mỗi khi trang được tải
  increasePoints();
</script>
</html>