<!DOCTYPE html>
<html>

<head>
  <title>Google Sign-In</title>
  <!-- Thêm script Google Sign-In API -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
<!-- Thêm nút đăng nhập Google -->
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

<!-- Thêm mã JavaScript để cấu hình và xử lý đăng nhập -->
<script>
        function onSignIn(googleUser) {
            // Xử lý khi người dùng đăng nhập thành công
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // ID duy nhất của người dùng
            console.log("Name: " + profile.getName()); // Tên người dùng
            console.log("Image URL: " + profile.getImageUrl()); // URL ảnh đại diện
            console.log("Email: " + profile.getEmail()); // Email người dùng
        }

        function signOut() {
            // Xử lý khi người dùng đăng xuất
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log("User signed out.");
            });
        }

        // Cấu hình Google Sign-In
        gapi.load("auth2", function() {
            gapi.auth2.init({
                client_id: "855390824864-t783u1rlofdtgmu34ir7fbj291qr4l27.apps.googleusercontent.com",
            });
        });
    </script>
</body>

</html>