<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
      lang="vi">
<head>
    <meta charset="UTF-8">
    <title>TocoToco</title>
    <th:block th:replace="@{layout/layoutClient} :: link-bootstrap"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-main-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-base-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-font-css"></th:block>
    <th:block th:replace="@{layout/layoutClient} :: link-rob-css"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="app">
<th:block th:replace="@{layout/layoutClient} :: head_top" class="fixed-header"></th:block>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "106172929230177");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

<!-- Your SDK code -->
<script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v17.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="app__container"  style="margin-top: 170px;">
        <!-- Star - danh sach san pham-->
        <div class="container" >
            <div class="row gy-3" >
                <div class="col-4 " th:each="product: ${products}">
                    <div class="card shadow">
                        <a  th:href="@{/product/view/{id}(id=${product.id})}" style="text-decoration:none; color:black;">
                            <img style="height: 363px" th:src="${product.urlImageThumbnail}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <p class="card-text text-truncate " th:text="${product.description}"></p>
                                <h5 class="card-text text-danger m-1 product_price" th:text="${product.price}">  VNĐ</h5>
<!--                                <tr sec:authorize="!hasAnyAuthority('USER','ADMIN')" th:remove="tag">-->
<!--                                     <a th:if="${user == null}" th:href="@{/login}"  class="btn btn-lg btn-dark" onclick="thongbao()">Thêm vào giỏ hàng</a>-->
<!--                                    <script>-->
<!--                                        function thongbao() {-->
<!--                                        alert('Bạn cần đăng nhập hoặc đăng ký để thêm sản phẩm vào giỏ hàng.');-->
<!--                                    }-->
<!--                                    </script>-->
<!--                                </tr>-->
<!--                                <tr sec:authorize="hasAnyAuthority('USER','ADMIN')">-->
                                    <a th:href="@{/cart/add(id=${product.id},imageList=${product.urlImageThumbnail},name=${product.name},price=${product.price}, quantity=1)}"
                                       class="btn btn-lg btn-dark add-to-cart-button">Thêm vào giỏ hàng</a>
<!--                                </tr>-->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End - danh sách sản phẩm đừng đụng đến nha đụng là đập-->
        <div class="cont__text" style="height: 50px;">
            <span id="World-link" class="cont__text_vb">Nơi có những thức uống ngon bổ dưỡng</span>
        </div>
        <div class="cont__Picap">
            <img th:src="@{https://scontent.fsgn2-8.fna.fbcdn.net/v/t1.6435-9/117311587_1232875547050489_7912122013716361_n.png?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=3yzrgKstQbwAX9yAR96&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfAJ64Df0aj2y3zzplp02BY33biZ8DqmsISHC5E0SY9zSg&oe=6538849F}" style="width: 1500px;">
        </div>
    </div>
<th:block th:replace="@{layout/layoutClient} :: footer"></th:block>
</div>
<script>
function addToCart() {
    alert("Vui lòng đăng ký tài khoản và đăng nhập để có thể thêm vào giỏ hàng và thanh toán.");
}
</script>
<script>
$(document).ready(function() {
  $('.add-to-cart-button').click(function(event) {
    event.preventDefault();

    var url = $(this).attr('href');
    var button = $(this);


    $.ajax({
      url: url,
      type: 'GET',
      success: function(response) {
        alert('Đã thêm thành công sản phẩm vào giỏ hàng!!');
        button.text('Thêm vào giỏ hàng');
      }
<!--      error: function() {-->
<!--        alert('Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng.');-->
<!--      }-->
    });
  });
});
</script>
<!--<div>-->
<!--    <a href="/chat/zalo" class="header__nav_bot-link" style="position: fixed; bottom: 20px; right: 20px; z-index: 90; transition: transform 0.3s ease;">-->
<!--        <img src="https://page.widget.zalo.me/static/images/2.0/Logo.svg" style="width: 50px;">-->
<!--    </a>-->
<!--</div>-->
<!--còn này là script chuyển đổi vnd của t đụng là đập-->
<script src="/js/toVND.js"></script>
<!--!!!-->
</body>
</html>